Grids
.gitignore
spec_lya_G1_SDSS1429.csv
test.ipynb
Results
/.vscode
emission_spectrum_candels-cdfs-06_106014046.csv
emission_spectrum_candels-cdfs-06_106014046.yaml
flux_lya_slice_0.csv
report.log
test_slice_0.yaml
lyafit/__pycache__
emission_spectrum_candels-cdfs-03_103032106.csv
emission_spectrum_candels-cdfs-03_103032106.yaml
spectrum_spiderweb.csv
spiderweb_config.yaml
